.light-footer {
    text-align: center;
    padding: 10px;
    background-color: burlywood;
}

.dark-footer {
    text-align: center;
    padding: 10px;
    background-color: darkred;
    color: gray;
}