.light-navBar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 5px 40px 5px 40px;
    background-color: aqua;
}

.dark-navbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 5px 40px 5px 40px;
    background-color: black;
    color: white;
}